.todo-list-actions {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
}

.todo-list-actions__left-tasks-text {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 88px;
}

.todo-list-actions__button {
    border: none;
    background-color: transparent;
    font-size: 12px;
    padding: 20px 10px;
    height: 15px;
}

.todo-list-actions__button.active {
    border-bottom: 1px solid #8147f5;
}

.todo-list-actions__delete-button {
    padding-left: 100px;
    border: none;
    font-size: 12px;
    background-color: transparent;
}

