.todo-input {
  max-width: 94%;
  margin: 0 auto;
  margin-top: 6px;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
}

.todo-input__input {
  width: 70%;
  border: none;
  line-height: 65px;
  margin-left: 60px;
  font-style: italic;
  font-size: 24px;
  outline: none;
}

.todo-input__submit-button_disabled {
  display: none;
}
